<section>
<div class="container-user">

  <div class="animation">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_vrnucjit.json"  background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
  </div>

  <div class="info login">
  

  <h2 class="user">WELCOME BACK</h2>
    <h6>Log-in to purchase your dream plants</h6>
    <%= form_tag '/login' do %>
      <%= text_field_tag :email, nil, placeholder: 'ðŸ“§', class: 'form-control' %>
      <%= password_field_tag :password, nil, placeholder: 'â–ªï¸â–ªï¸â–ªï¸â–ªï¸â–ªï¸â–ªï¸', class: 'form-control' %>
      
      <%= submit_tag "LET'S GO", class: 'btn btn-primary info' %>
    <% end %>
    </div>

  </div>
</section>