<section class="admin-products-new">

<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div>
<table class="table table-bordered">
  <thead>
  
    <tr style="text-align:center">
      <th>Products Count</th>
      <th>Categories Count</th>
    </tr>
   
  </thead>
  <tbody>
    <%= render 'count_dashboard' %>
  </tbody>
</table>
</div>

</section>

<div class="admin-footer">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_srcvuh0h.json"  background="transparent"  speed="0.75"  style="width: 500px; height: 200px;"  loop  autoplay></lottie-player>
</div>