<section class="admin-products-new">

<header class="page-header">
<h1>Admin &raquo; Dashboard</h1>
</header>

<div>
<table class="table table-bordered">
  <thead>
  
    <tr style="text-align:center">
      <th>Products Count</th>
      <th>Categories Count</th>
    </tr>
   
  </thead>
  <tbody>
    <%= render 'count_dashboard' %>
  </tbody>
</table>
</div>

</section>
