/*
*= require_tree .
*= require_self
*/

// Vendor
// @import "bootstrap-sprockets";
// @import 'bootstrap';
@import 'font-awesome';

// App
@import 'products';

// // Fonts
// // Global
body.about {
  // padding-top: 70px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.page-header {
  margin: 3em 0;
}

.about-page {
  display: flex;
  flex-direction: row;
}

div.about-description {
  width: 60%;
}

div.about-animation {
  padding-left: 10%;
  // padding-top: 5%;
}

p {
  font-size: 23px;
}

.h1-about {
  padding-top: 5%;
  color: #41613d;
  text-align: center;
}
