.cart-show {
  tr div {
    width: max-content;
  }

  button.stripe-button-el span {
    border-radius: 0.25em;
    border: 0.1em solid rgba(78, 144, 92, 0.8);
    background: #618f5b;
    color: white;
  }
}
