// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

section {
  padding: 4rem;
}

.container-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: #edf4eb;
  padding: 4rem;

  background-color: #edf4eb;
  opacity: 0.8;
  background-image: radial-gradient(#488035 1.1px, transparent 1.1px),
    radial-gradient(#488035 1.1px, #edf4eb 1.1px);
  background-size: 44px 44px;
  background-position: 0 0, 22px 22px;
}

.form-control {
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: solid 4px #41613d;
  background-color: transparent;
}

h2 {
  color: #41613d;
  font-weight: 900;
  font-family: 'Montserrat';
  text-transform: uppercase;

  text-align: center;
}

h6 {
  color: #e09090;
  font-weight: 900;
  font-family: 'Montserrat';
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

div.info {
  padding-left: 8%;
  // padding-top: 5%;
}

div.signup {
  padding-top: 2rem;
}

input.btn.btn-primary.info {
  // background-color: #618f5b;
  background-color: #e09090;
  border: #e09090;
  font-weight: 800;
  margin-top: 1rem;
  margin-left: 40%;
}

input.btn.btn-primary.info:hover {
  background-color: #618f5b;
  border: #618f5b;
  font-weight: 800;
}
